/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Core colors */
    --color-bg: #0f0f0f;
    --color-surface: #181818;
    --color-text: #eaeaea;
    --color-muted: #a0a0a0;

    /* Accent */
    --color-accent: #e06543;
    --color-accent-hover: #b36aff;

    /* UI */
    --color-border: #2a2a2a;
}



/* Base */
body {
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* ===== Header / Navbar ===== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--color-surface);
    z-index: 1000;
}


.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover,
nav a.active {
    color: var(--color-accent);
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    nav ul {
        width: 100%;
        justify-content: space-between;
    }
}

.intro {
    text-align: center;
    margin-bottom: 4rem;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro p {
    max-width: 650px;
    margin: 0 auto;
    color: var(--color-text);
}