/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-1: #bebebe;
    --color-2: #aeaeae;
    --color-3: #8a8a8a;
    --color-4: #686868;
    --color-5: #3b3b3b;
    --color-6: #292929;


    --color-accent: #0D6C7C;
    --color-5-hover: #0a5765;

    --navbar-height: 65px;

    --font-bold: "League Spartan";
}

html[data-palette="alt"] {
    --color-1: #292929;
    --color-2: #3b3b3b;
    --color-3: #686868;
    --color-4: #8a8a8a;
    --color-5: #aeaeae;
    --color-6: #bebebe;
}


body {
    padding-top: var(--navbar-height);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: var(--color-1);
    color: var(--color-6);
}




.intro {
    text-align: center;
    margin-bottom: 4rem;
}

.intro h1 {
    font-family: var(--font-bold);
    font-weight: 800;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.intro p {
    max-width: 650px;
    margin: 0 auto;
    color: var(--color-6);
}



.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.lightbox.open {
    display: flex;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    cursor: zoom-out;
}



